<h3>GLUE project</h3>
<p>
The HCV-GLUE web application is based on a linked dataset, packaged as a GLUE project. 
GLUE projects can be loaded into the <a target="_blank" href="http://tools.glue.cvr.ac.uk">GLUE engine</a> which may be
installed on a private computer. In this way, the HCV-GLUE functionality can be used for example to store private sequence data, 
and extended, for example to add custom metadata or new analysis functions.  
</p>
<h4>Download GLUE project builds</h4>
<p>
Two project builds are available. The build including the NCBI-HCV-GLUE extension is larger but includes the 
HCV sequences derived from the NCBI nucleotide database and their metadata, the set of atypical substitutions 
and RAS frequency data.
</p>	
	<table class="table table-striped table-bordered table-nonfluid">
		<thead>
			<colgroup>
		       <col span="1" style="width: 50%;">
		       <col span="1" style="width: 50%;">
		    </colgroup>
		</thead>
		<tbody>
			<tr>
				<td><b>HCV-GLUE core project + HCV-DRUG-RESISTANCE extension</b></td>
				<td>Download <a href="/hcv_glue_dbs/hcv_glue.sql.gz">hcv_glue.sql.gz</a></td>
			</tr>
			<tr>
				<td><b>HCV-GLUE core project + HCV-DRUG-RESISTANCE extension + NCBI-HCV-GLUE extension</b></td>
				<td>Download <a href="/hcv_glue_dbs/ncbi_hcv_glue.sql.gz">ncbi_hcv_glue.sql.gz</a></td>
			</tr>
		</tbody>
	</table>


<h4>Version information</h4>

	<table class="table table-striped table-bordered table-nonfluid">
		<thead>
			<colgroup>
		       <col span="1" style="width: 50%;">
		       <col span="1" style="width: 50%;">
		    </colgroup>
		</thead>
		<tbody>
			<tr>
				<td><b>HCV-GLUE core project version</b></td>
				<td>{{hcvGlueProjectVersion}}</td>
			</tr>
			<tr>
				<td><b>HCV-DRUG-RESISTANCE extension version</b></td>
				<td>{{hcvDRExtensionProjectVersion}}</td>
			</tr>
			<tr>
				<td><b>NCBI-HCV-GLUE extension version</b></td>
				<td>{{ncbiHcvGlueExtensionProjectVersion}}</td>
			</tr>
			<tr>
				<td><b>NCBI-HCV-GLUE extension build date</b></td>
				<td>{{ncbiHcvGlueExtensionBuildDate}}</td>
			</tr>
			<tr>
				<td><b>NCBI-HCV-GLUE extension build id</b></td>
				<td>{{ncbiHcvGlueExtensionBuildId}}</td>
			</tr>
		</tbody>
	</table>
