<h3>About HCV-GLUE</h3>
<h4>Version information</h4>
	<table class="table table-striped table-bordered table-nonfluid">
		<thead>
			<colgroup>
		       <col span="1" style="width: 50%;">
		       <col span="1" style="width: 50%;">
		    </colgroup>
		</thead>
		<tbody>
			<tr>
				<td><b>GLUE engine version</b></td>
				<td>{{glueEngineVersion}}</td>
			</tr>
			<tr>
				<td><b>HCV-GLUE core project version</b></td>
				<td>{{hcvGlueProjectVersion}}</td>
			</tr>
			<tr>
				<td><b>HCV-DRUG-RESISTANCE extension version</b></td>
				<td>{{hcvDRExtensionProjectVersion}}</td>
			</tr>
			<tr>
				<td><b>NCBI-HCV-GLUE extension version</b></td>
				<td>{{ncbiHcvGlueExtensionProjectVersion}}</td>
			</tr>
			<tr>
				<td><b>NCBI-HCV-GLUE extension build date</b></td>
				<td>{{ncbiHcvGlueExtensionBuildDate}}</td>
			</tr>
			<tr>
				<td><b>NCBI-HCV-GLUE extension build id</b></td>
				<td>{{ncbiHcvGlueExtensionBuildId}}</td>
			</tr>
		</tbody>
	</table>
