<div ng-controller="epitopeCtrl">

	<div ng-show="epitopeList != null && epitopeList.length > 0">
		<p>
		Comparison of the query sequence with known epitope patterns. 
		<table class="table table-striped table-bordered" style="table-layout: fixed" width="100%">
			<thead>
				<col width="10%"></col>
				<col width="8%"></col>
				<col width="15%"></col>
				<col width="67%"></col>
				<tr>
					<th>Epitope</th>
					<th>Polyprotein codons</th>
					<th>HLA type</th>
					<th>Amino acid comparison</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="epitope in epitopeList">
					<td><a ng-click="displayVariation(selectedVariationCategoryResult.name, epitope.refName, epitope.featureName, epitope.variationName, epitope.pLocMatches)">{{epitope.renderedName}} <i class="glyphicon glyphicon-link"></i></a></td>
					<td>[{{epitope.startCodon}}, {{epitope.endCodon}}]</td>
					<td>{{epitope.hla}}</td>
					<td>
						<div style="overflow: auto">
							<svg 
								ng-attr-height="{{comparisonHeight()}}" 
								ng-attr-width="{{comparisonWidth(epitope.pattern)}}">
								<g epitope-comparison 
										svg-params="svgParams"
										epitope-pattern="epitope.pattern" 
										query-pattern="epitope.matchedValue"></g>
							</svg>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	
	
	</div>
	<div ng-show="epitopeList == null || epitopeList.length == 0">
	No epitope comparisons.
	</div>
</div>