<div ng-cloak>
	<h2>{{renderResult.alignment.renderedName}}</h2>
	
	<div>
		<p>
			Clade reference sequence: <a href="#project/reference/{{renderResult.alignment.constrainingReference.name}}">
			{{renderResult.alignment.constrainingReference.renderedName}}</a>
		</p>
		<p>
			Parent clade: 
			<a ng-show="renderResult.alignment.parent" href="#project/alignment/{{renderResult.alignment.parent.name}}">
				{{renderResult.alignment.parent.renderedName}}
			</a>
			<span ng-show="!renderResult.alignment.parent">-</span>
		</p>
		<p>
			Child clades: <span ng-show="!renderResult.alignment.child">None</span>
			<div ng-repeat="child in renderResult.alignment.child track by $index">
				<a href="#project/alignment/{{child.name}}">
					{{child.renderedName}}
				</a>
			</div>
		</p>
	</div>
	<h3>Curated NCBI clade member sequences</h3>
	<p>The following table lists NCBI sequences which were assigned to {{renderResult.alignment.renderedName}} (or any of its descendent clades) by the HCV-GLUE genotyping algorithm.
	Sequences marked as recombinants, lab constructs or with a non-human host species are excluded from the list.</p>
	<paging-buttons paging-context="pagingContext"></paging-buttons>
	<span ng-show="memberList.length == 0">No sequences</span>
	<div ng-show="memberList.length > 0">
		Members {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
		<table class="table table-striped table-bordered">
			<thead>
				<th>NCBI Nucleotide ID</th>
				<th>Genotype / Subtype</th>
				<th>Creation Date</th>
				<th>Sequence Length</th>
				<th>Isolate ID</th>
				<th>Country of Origin</th>
				<th>Collection Year</th>
				<th>Reference</th>
			</thead>
			<colgroup>
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 15%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 15%;">
		    </colgroup>
			<tbody>
				<tr ng-repeat="member in memberList track by $index">
					<td><a href="#project/sequence/ncbi-curated/{{member['sequence.sequenceID']}}">
							{{member['sequence.sequenceID']}} </a></td>
					<td><a href="#project/alignment/{{member['alignment.name']}}">
							{{member['alignment.displayName']}} </a></td>
					<td>{{member['sequence.gb_create_date']}}</td>
					<td>{{member['sequence.gb_length']}}</td>
					<td>{{handleNull(member['sequence.gb_isolate'])}}</td>
					<td>{{handleNull(member['sequence.gb_country_official'])}}</td>
					<td>{{handleNull(member['sequence.gb_collection_year'])}}</td>
					<td ng-show="member['sequence.gb_pubmed_id'] == null">-</td>
					<td ng-show="member['sequence.gb_pubmed_id'] != null">
						<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{member['sequence.gb_pubmed_id']}}" target="_blank">PubMed {{member['sequence.gb_pubmed_id']}} <span class="glyphicon glyphicon-link"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="pagingContext"></paging-buttons>
	</div>

	<h3>Resistance associated substitutions</h3>
	<span ng-show="rasNoteList.length == 0">No significant data</span>
	<div ng-show="rasNoteList.length > 0">
		<p>The table below summarises the occurence of resistance-associated substitutions across all NCBI curated sequences belonging to 
		{{renderResult.alignment.renderedName}}. Resistance-associated substitutions are omitted if fewer than 30 clade members were available, 
		or if fewer than 1% of clade members contained the substitution.</p>
		<paging-buttons paging-context="rasPagingContext"></paging-buttons>
		Substitutions {{rasPagingContext.firstItemIndex}} to {{rasPagingContext.lastItemIndex}} of {{rasPagingContext.totalItems}}
		<table class="table table-striped table-bordered">
			<thead>
				<th>Gene</th>
				<th>Substitution(s)</th>
				<th>Frequency</th>
				<th></th>
			</thead>
			<colgroup>
		       <col span="1" style="width: 25%;">
		       <col span="1" style="width: 25%;">
		       <col span="1" style="width: 25%;">
		       <col span="1" style="width: 25%;">
		    </colgroup>
			<tbody>
				<tr ng-repeat="rasNote in rasNoteList track by $index">
					<td>{{rasNote['variation.featureLoc.feature.name']}}</td>
					<td>{{rasNote['variation.rav_substitutions']}}</td>
					<td>{{rasNote['ncbi_curated_total_present']}} of {{rasNote['ncbi_curated_total_present'] + rasNote['ncbi_curated_total_absent']}} ({{toFixed(rasNote['ncbi_curated_frequency'], 2)}}%)</td>
					<td><a href="#project/rav/{{rasNote['variation.featureLoc.referenceSequence.name']}}/{{rasNote['variation.featureLoc.feature.name']}}/{{rasNote['variation.name']}}" target="_blank">View details <span class="glyphicon glyphicon-link"></span></a></td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="rasPagingContext"></paging-buttons>
	</div>

</div>