<div ng-cloak>
	<h2>{{renderResult.alignment.renderedName}}</h2>
	
	<div>
		<p>
			Clade reference sequence: <a href="#project/reference/{{renderResult.alignment.constrainingReference.name}}">
			{{renderResult.alignment.constrainingReference.renderedName}}</a>
		</p>
		<p>
			Parent clade: 
			<a ng-show="renderResult.alignment.parent" href="#project/alignment/{{renderResult.alignment.parent.name}}">
				{{renderResult.alignment.parent.renderedName}}
			</a>
			<span ng-show="!renderResult.alignment.parent">-</span>
		</p>
	</div>
	
	<div class="btn-group" style="margin-bottom: 15px">
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'memberSequences'">Member sequences</label>
        <label ng-show="renderResult.alignment.child" class="btn btn-primary" ng-model="displaySection" btn-radio="'childClades'">Child clades</label>
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'resistanceAssociatedPolymorphisms'">Resistance associated polymorphisms</label>
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'polymorphismFrequencies'">Polymorphism frequencies</label>
    </div>
	
	<div ng-if="displaySection == 'memberSequences'">
		<p>
			<small>The following sequences were assigned to {{renderResult.alignment.renderedName}}{{renderResult.alignment.child == null ? "" : " (or one of its descendent clades)"}} by the HCV-GLUE genotyping algorithm. 
					Sequences identified as recombinants, lab constructs or having a non-human host species are excluded.</small>
		</p>
		<div us-spinner="{radius:23, width:7, length: 11}" spinner-on="loadingSpinner" style="min-height: 100px; position: relative">
			<paging-buttons ng-show="!loadingSpinner" paging-context="pagingContext">
				<div class="btn-group" dropdown is-open="status.isopen_downloadtype1">
			      <button id="downloadtype-button1" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
			        Download <span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button1">
					<li role="menuitem" ng-click="downloadSequences('fastaExporter')"><a>Download sequences</a></li>
					<li role="menuitem" ng-click="downloadAlignment('fastaAlignmentExporter','fastaProteinAlignmentExporter')"><a>Download alignment</a></li>
					<li role="menuitem" ng-click="downloadMemberMetadata()"><a>Download metadata</a></li>
			      </ul>
				</div>
			</paging-buttons>
			<span ng-show="memberList.length == 0">No sequences</span>
			<div ng-show="memberList.length > 0">
				Sequences {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
				<table class="table table-striped table-bordered">
					<thead>
						<th>NCBI Nucleotide ID</th>
						<th>Genotype / Subtype</th>
						<th>NCBI Entry Creation Date</th>
						<th>NCBI Last Update Date</th>
						<th>Sequence Length</th>
						<th>Isolate ID</th>
						<th>Country of Origin</th>
						<th>Collection Year Range</th>
						<th>Reference</th>
					</thead>
					<colgroup>
				       <col span="1" style="width: 10%;">
				       <col span="1" style="width: 10%;">
				       <col span="1" style="width: 10%;">
				       <col span="1" style="width: 10%;">
				       <col span="1" style="width: 8%;">
				       <col span="1" style="width: 13%;">
				       <col span="1" style="width: 15%;">
				       <col span="1" style="width: 10%;">
				       <col span="1" style="width: 14%;">
				    </colgroup>
					<tbody>
						<tr ng-repeat="member in memberList track by $index">
							<td><a href="#project/sequence/ncbi-curated/{{member['sequence.sequenceID']}}" target="_blank">
									{{member['sequence.sequenceID']}} </a></td>
							<td><a href="#project/alignment/{{member['alignment.name']}}">
									{{member['alignment.displayName']}} </a></td>
							<td>{{member['sequence.gb_create_date']}}</td>
							<td>{{member['sequence.gb_update_date']}}</td>
							<td>{{member['sequence.gb_length']}}</td>
							<td>{{handleNull(member['sequence.gb_isolate'])}}</td>
							<td>{{member['sequence.who_country.display_name'] ? (member['sequence.who_country.display_name']+" ("+member['sequence.who_country.id']+")"):"-"}}</td>
							<td>{{collectionYearRange(member['sequence.earliest_collection_year'], member['sequence.latest_collection_year'])}}</td>
							<td ng-show="member['sequence.gb_pubmed_id'] == null">-</td>
							<td ng-show="member['sequence.gb_pubmed_id'] != null">
								<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{member['sequence.gb_pubmed_id']}}" target="_blank">PubMed {{member['sequence.gb_pubmed_id']}} <span class="glyphicon glyphicon-link"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
				<paging-buttons paging-context="pagingContext">
					<div class="btn-group" dropdown is-open="status.isopen_downloadtype2">
				      <button id="downloadtype-button2" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
				        Download <span class="caret"></span>
				      </button>
				      <ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button2">
						<li role="menuitem" ng-click="downloadSequences('fastaExporter')"><a>Download sequences</a></li>
						<li role="menuitem" ng-click="downloadAlignment('fastaAlignmentExporter','fastaProteinAlignmentExporter')"><a>Download alignment</a></li>
						<li role="menuitem" ng-click="downloadMemberMetadata()"><a>Download metadata</a></li>
				      </ul>
					</div>
				</paging-buttons>
			</div>
		</div>
	</div>
	<div ng-if="displaySection == 'childClades'">
		<p><small>The following clades group within {{renderResult.alignment.renderedName}}:</small></p>
		<span ng-show="!renderResult.alignment.child">None</span>
		<div ng-repeat="child in renderResult.alignment.child track by $index">
			<a href="#project/alignment/{{child.name}}">
				{{child.renderedName}}
			</a>
		</div>
	</div>
	

	<div ng-if="displaySection == 'resistanceAssociatedPolymorphisms'">
	
		<div ng-show="phdrAlignmentRasDrugs.length > 0">
			<small>
				Polymorphisms are assigned to one of three categories according to the
				strength of evidence for drug resistance.
				<ul>
					<li>Category I polymorphisms have the strongest evidence: either
						(a) <em>in vitro</em> resistance level &ge; 5 and found at baseline
						or treatment-emergent <em>in vivo</em>, or (b) both found at
						baseline and treatment-emergent.
					</li>
					<li>Category II: <em>in vitro</em> level &ge; 50 or found at
						baseline or treatment-emergent.
					</li>
					<li>Category III: <em>in vitro</em> level &ge; 5
					</li>
				</ul>
			</small>
			</div>
			<paging-buttons paging-context="rapPagingContext"></paging-buttons>
			<div ng-show="phdrAlignmentRasDrugs.length == 0">
			No resistant polymorphisms collated
			</div>
			<div ng-show="phdrAlignmentRasDrugs.length > 0">
				Polymorphisms {{rapPagingContext.firstItemIndex}} to {{rapPagingContext.lastItemIndex}} of {{rapPagingContext.totalItems}}
			
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th style="width: 15%;">Genotype / subtype</th>		
							<th style="width: 10%;">Gene</th>		
							<th style="width: 15%;">Polymorphism(s)</th>		
							<th style="width: 10%;">Drug</th>		
							<th style="width: 12.5%;">Resistance category</th>		
							<th style="width: 12.5%;">EC<sub>50</sub> fold change <em>in vitro</em></th>		
							<th style="width: 12.5%;">Found at baseline <em>in vivo</em>?</th>
							<th style="width: 12.5%;">Treatment-emergent <em>in vivo</em>?</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="alignmentRasDrug in phdrAlignmentRasDrugs track by $index">
							<td><a target="_blank" href="#project/alignment/{{alignmentRasDrug.phdrAlignmentRasDrug.clade.alignmentName}}">{{alignmentRasDrug.phdrAlignmentRasDrug.clade.displayName.replace("HCV ", "")}}</td>
							<td>{{alignmentRasDrug.phdrAlignmentRasDrug.rasGene}}</td>
							<td><a target="_blank" href="#project/rap/{{alignmentRasDrug.phdrAlignmentRasDrug.rasId}}">{{alignmentRasDrug.phdrAlignmentRasDrug.displayStructure}}</a></td>
							<td><a target="_blank" href="#project/drug/{{alignmentRasDrug.phdrAlignmentRasDrug.drug}}">{{alignmentRasDrug.phdrAlignmentRasDrug.drug}}</a></td>
							<td>{{alignmentRasDrug.phdrAlignmentRasDrug.displayResistanceCategory}}</td>
							<td ng-if="alignmentRasDrug.phdrAlignmentRasDrug.inVitroMaxEc50Midpoint != null">{{toFixed(alignmentRasDrug.phdrAlignmentRasDrug.inVitroMaxEc50Midpoint, 2)}}</td>
							<td ng-if="alignmentRasDrug.phdrAlignmentRasDrug.inVitroMaxEc50Midpoint == null">-</td>
							<td ng-if="alignmentRasDrug.phdrAlignmentRasDrug.inVivoBaseline != null">{{alignmentRasDrug.phdrAlignmentRasDrug.inVivoBaseline ? "Yes" : "No"}}</td>
							<td ng-if="alignmentRasDrug.phdrAlignmentRasDrug.inVivoBaseline == null">-</td>
							<td ng-if="alignmentRasDrug.phdrAlignmentRasDrug.inVivoTreatmentEmergent != null">{{alignmentRasDrug.phdrAlignmentRasDrug.inVivoTreatmentEmergent ? "Yes" : "No"}}</td>
							<td ng-if="alignmentRasDrug.phdrAlignmentRasDrug.inVivoTreatmentEmergent == null">-</td>
						</tr>
					</tbody>
				</table>
				<paging-buttons paging-context="rapPagingContext"></paging-buttons>
			</div>
	
	
	
	</div>

	<div ng-if="displaySection == 'polymorphismFrequencies'">
		<paging-buttons paging-context="freqNotePagingContext"></paging-buttons>
		<p><small>Frequencies of resistance associated polymorphisms within {{renderResult.alignment.renderedName}} sequences</small></p>
		<span ng-show="rasNoteList.length == 0">No significant data</span>
		<div ng-show="rasNoteList.length > 0">
			Polymorphisms {{freqNotePagingContext.firstItemIndex}} to {{freqNotePagingContext.lastItemIndex}} of {{freqNotePagingContext.totalItems}}
			<table class="table table-striped table-bordered">
				<thead>
					<th>Virus protein</th>
					<th>Polymorphism(s)</th>
					<th>Polymorphism frequency in {{renderResult.alignment.renderedName.replace('HCV ', '')}}</th>
					<th>Resisted drug(s)</th>
					<th>Resisted Genotype(s) / Subtype(s)</th>
				</thead>
				<colgroup>
			       <col span="1" style="width: 10%;">
			       <col span="1" style="width: 20%;">
			       <col span="1" style="width: 20%;">
			       <col span="1" style="width: 20%;">
			       <col span="1" style="width: 30%;">
			    </colgroup>
				<tbody>
					<tr ng-repeat="rasNote in rasNoteList track by $index">
						<td>{{rasNote.phdrRasFrequency.gene}}</td>
						<td><a href="#project/rap/{{rasNote.phdrRasFrequency.rasId}}" target="_blank">
							{{rasNote.phdrRasFrequency.structure}}</a></td>
						<td>{{rasNote.phdrRasFrequency.ncbiCuratedTotalPresent}} of {{rasNote.phdrRasFrequency.ncbiCuratedTotalPresent + rasNote.phdrRasFrequency.ncbiCuratedTotalAbsent}} ({{toFixed(rasNote.phdrRasFrequency.ncbiCuratedFrequency, 2)}}%)</td>
						<td><span ng-repeat="drug in rasNote.phdrRasFrequency.drug track by $index"><span ng-if="$index > 0">, </span>
						<a target="_blank" href="#project/drug/{{drug}}">{{drug}}</a></span></td>
						<td><span ng-repeat="clade in rasNote.phdrRasFrequency.resistedClade track by $index"><span ng-if="$index > 0">, </span>
						<a target="_blank" href="#project/alignment/{{clade.alignmentName}}">{{clade.alignmentDisplayName.replace("HCV ", "")}}</a></span></td>
					</tr>
				</tbody>
			</table>
			<paging-buttons paging-context="freqNotePagingContext"></paging-buttons>
		</div>
	</div>
	

</div>