<div ng-app="hcvApp">
	<h2>Clade Tree</h2>
	<p>
	HCV genotypes, subtypes, etc. arranged in a tree matching the hypothesised evolutionary relationships. 
	</p>
	<p>
	</p>
	<treecontrol class="tree-light"
	   tree-model="almtNameToDescendentTree['AL_MASTER']"
	   expanded-nodes="almtNameToExpandedNodes['AL_MASTER']"
	   options="almtNameToTreeOptions['AL_MASTER']">
	   <a href="./#/project/alignment/{{node.alignmentName}}">{{node.alignmentRenderedName}}</a> 
	</treecontrol>
	<h4>Notes</h4>
	<ul>
		<li>HCV-GLUE clade definitions are based on 
	the <a href="http://talk.ictvonline.org/ictv_wikis/flaviviridae/w/sg_flavi/56.hcv-classification" 
	target="_blank">ICTV HCV classification resource</a>, updated in May 2015.</li>
		<li>Subtypes marked as "unassigned" do not yet have enough distinct isolates to assign a designation.</li>
		<li>Subtypes marked as "provisional" have been assigned a designation, but require further distinct isolates for confirmation.</li>
		<li>Select a clade to view the sequences curated within that clade.</li>
		<li>Sequences marked as recombinants, lab constructs or with a non-human host species are excluded from the clade tree.</li>
	</ul>
	
</div>