<div ng-app="hcvApp">
	<h2>NCBI HCV Sequences by Clade</h2>
	<p>Select a clade to view the sequences within that clade.</p>
	<p>Clades may be expanded to reveal child clades.</p>
	<treecontrol class="tree-light"
	   tree-model="almtNameToDescendentTree['AL_MASTER']"
	   expanded-nodes="almtNameToExpandedNodes['AL_MASTER']"
	   options="almtNameToTreeOptions['AL_MASTER']">
	   <a href="./#/project/alignment/{{node.alignmentName}}">{{node.alignmentRenderedName}}</a> 
	</treecontrol>
	<h4>Notes</h4>
	<ul>
		<li>HCV-GLUE clade definitions are based on 
	the <a href="https://ictv.global/sg_wiki/flaviviridae/hepacivirus" 
	target="_blank">ICTV HCV classification resource</a>.</li>
		<li>Subtypes marked as "unassigned" do not yet have enough distinct isolates to assign a designation.</li>
		<li>Subtypes marked as "provisional" have been assigned a designation, but require further distinct isolates for confirmation.</li>
	</ul>
	
</div>