<div ng-cloak>
	<h2>{{drugId}}</h2>
	{{drugRenderResult.drug.category.displayName}}
	<br/>	
	{{drugRenderResult.drug.companyCode ? "Company code: "+drugRenderResult.drug.companyCode : ""}}
	<h4>Resistance Findings</h4>
	<paging-buttons paging-context="pagingContext"></paging-buttons>
	<div ng-show="drugResistanceFindings.length == 0">
	No resistance findings collated
	</div>
	<div ng-show="drugResistanceFindings.length > 0">
		Findings {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
	
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th rowspan=2 style="width: 20%;">Gene</th>		
					<th rowspan=2 style="width: 20%;">Resistant Substitution(s)</th>		
					<th rowspan=2 style="width: 20%;">Replicon clade</th>		
					<th colspan=2 style="width: 20%;">EC<sub>50</sub> Fold Change</th>		
					<th rowspan=2 style="width: 20%;">Reference</th>
				</tr>
				<tr>
					<th>Min</th>		
					<th>Max</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="finding in drugResistanceFindings track by $index">
					<td>{{finding['variation.featureLoc.feature.name']}}</td>
					<td><a href="#project/rav/{{finding['variation.featureLoc.referenceSequence.name']}}/{{finding['variation.featureLoc.feature.name']}}/{{finding['variation.name']}}">{{finding['variation.rav_substitutions']}}</a></td>
					<td><a href="#project/alignment/{{finding['replicon_clade.name']}}">{{finding['replicon_clade.displayName']}}</td>
					<td>{{finding['min_fold_change'] ? toFixed(finding['min_fold_change']) : handleNull(finding['min_fold_change'])}}</td>
					<td>{{finding['max_fold_change'] ? toFixed(finding['max_fold_change']) : handleNull(finding['max_fold_change'])}}</td>
					<td><a href="#project/drug_resistance_publication/{{finding['drug_resistance_publication.id']}}">
						{{finding['drug_resistance_publication.display_name']}}</a></td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="pagingContext"></paging-buttons>
	</div>


</div>