<div ng-cloak ng-app="hcvApp">
	<h2>{{drugId}}</h2>
	{{drugRenderResult.drug.category.displayName}}
	<br/>	
	{{drugRenderResult.drug.companyCode ? "Company code: "+drugRenderResult.drug.companyCode : ""}}
	<h4>Resistance Findings</h4>
	<div ng-show="!drugRenderResult.drug.drugResistanceFinding">
	No resistance findings collated
	</div>
	<table ng-show="drugRenderResult.drug.drugResistanceFinding.length > 0" 
		class="table table-nonfluid table-striped table-bordered">
		<thead>
			<tr>
				<th rowspan=2>Virus Protein</th>		
				<th rowspan=2>Resistant Substitution(s)</th>		
				<th rowspan=2>Replicon clade</th>		
				<th colspan=2>EC<sub>50</sub> Fold Change</th>		
				<th rowspan=2>Reference</th>
			</tr>
			<tr>
				<th>Min</th>		
				<th>Max</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="finding in drugRenderResult.drug.drugResistanceFinding track by $index">
				<td>{{finding.variationFeatureName}}</td>
				<td><a href="#project/rav/{{finding.variationReferenceSequence}}/{{finding.variationFeatureName}}/{{finding.variationName}}">{{finding.variationSubstitutions}}</a></td>
				<td><a href="#project/alignment/{{finding.cladeId}}">{{finding.cladeRenderedName}}</td>
				<td>{{finding.minFoldChange ? toFixed(finding.minFoldChange) : handleNull(finding.minFoldChange)}}</td>
				<td>{{finding.maxFoldChange ? toFixed(finding.maxFoldChange) : handleNull(finding.maxFoldChange)}}</td>
				<td><a href="#project/drug_resistance_publication/{{finding.publication.id}}">
					{{finding.publication.displayName}}</a></td>
			</tr>
		</tbody>
	</table>
	


</div>