<div ng-cloak ng-app="hcvApp">
	<h2>{{drPubRenderResult.drugPublication.displayName}}</h2>
		{{drPubRenderResult.drugPublication.authors}}
		<br/>
		<b>{{drPubRenderResult.drugPublication.title}}</b>
		<br/>
		<em>{{drPubRenderResult.drugPublication.publication}}</em>, {{drPubRenderResult.drugPublication.pubLocation}}, <b>{{drPubRenderResult.drugPublication.year}}</b>
		<br/>
		<a href="{{drPubRenderResult.drugPublication.webLink}}" target="_blank">View publication <span class="glyphicon glyphicon-link"></span></a>
	<h4>Resistance Findings</h4>
	<div ng-show="drugResistanceFindings.length == 0">
	No resistance findings collated
	</div>
	<div ng-show="drugResistanceFindings.length > 0">
		<paging-buttons paging-context="pagingContext"></paging-buttons>
		<p>Findings {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}</p>
		<table class="table table-nonfluid table-striped table-bordered">
			<thead>
				<tr>
					<th rowspan=2>Drug</th>		
					<th rowspan=2>Virus Protein</th>		
					<th rowspan=2>Resistant Substitution(s)</th>		
					<th rowspan=2>Replicon Clade</th>		
					<th colspan=2>EC<sub>50</sub> Fold Change</th>		
				</tr>
				<tr>
					<th>Min</th>		
					<th>Max</th>
				</tr>
				
			</thead>
			<tbody>
				<tr ng-repeat="finding in drugResistanceFindings track by $index">
					<td><a href="#project/drug/{{finding['drug.id']}}">{{finding['drug.id']}}</a></td>
					<td>{{finding['variation.featureLoc.feature.name']}}</td>
					<td><a href="#project/rav/{{finding['variation.featureLoc.referenceSequence.name']}}/{{finding['variation.featureLoc.feature.name']}}/{{finding['variation.name']}}">{{finding['variation.rav_substitutions']}}</a></td>
					<td><a href="#project/alignment/{{finding['replicon_clade.name']}}">{{finding['replicon_clade.displayName']}}</td>
					<td>{{finding['min_fold_change'] ? toFixed(finding['min_fold_change']) : handleNull(finding['min_fold_change'])}}</td>
					<td>{{finding['max_fold_change'] ? toFixed(finding['max_fold_change']) : handleNull(finding['max_fold_change'])}}</td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>