<div ng-cloak >
	<h2>Drug Resistance References</h2>
	<p>
	These publications have been used as sources for in vitro and clinical trial drug resistance evidence.
	</p>
	<ol>
		<li ng-repeat="drPub in drugResistancePublications track by $index">
		{{drPub.authors}}
		<br/>
		<b>{{drPub.title}}</b>
		<br/>
		<em>{{drPub.publication}}</em>, {{drPub.pub_location}}, <b>{{drPub.year}}</b>
		<br/>
		<a href="{{drPub.web_link}}" target="_blank">Publication web version<span class="glyphicon glyphicon-link"></span></a>
		<a href="#project/drug_resistance_publication/{{drPub.id}}">Publication details <span class="glyphicon glyphicon-link"></span></a>
		</li>
	</ol>

</div>