<div ng-cloak>
	<h3>{{rap.virusProtein}} {{(rap.displayStructure.length > 1) ? "polymorphisms" : "polymorphism"}} <span ng-repeat="structure in rap.displayStructure track by $index"><span ng-if="$index > 0 && $index < rap.displayStructure.length-1">, </span><span ng-if="rap.displayStructure.length > 1 && $index == rap.displayStructure.length-1"> and </span>{{structure}}</span></h3>
	
	
	<div class="btn-group" style="margin-bottom: 15px">
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'evidenceBase'">Resistance evidence base</label>
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'cladeFrequencies'">Clade frequencies</label>
    </div>
	
	
	<div ng-if="displaySection == 'evidenceBase'">
		<div>
		<p><small>The following resistance findings for {{(rap.displayStructure.length > 1) ? "these polymorphisms" : "this polymorphism"}} have been collated from the literature.</small></p>
		<p>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th style="width: 8%;">Genotype / Subtype</th>		
						<th style="width: 10%;">Polymorphism(s)</th>		
						<th style="width: 6%;">Drug</th>		
						<th style="width: 6%;">Resistance category *</th>		
						<th style="width: 10%;">EC<sub>50</sub> fold change <em>in vitro</em></th>		
						<th style="width: 20%;">Clinical trials / study cohort</th>
						<th style="width: 10%;">Associated drug regimens</th>
						<th style="width: 6%;">Found at baseline?</th>
						<th style="width: 6%;">Treatment-emergent?</th>
						<th style="width: 18%;">Reference</th>
					</tr>
				</thead>
				<tr ng-repeat="finding in rap.resistanceFinding track by $index">
					<td ng-if="finding.alignmentRas != null" rowspan="{{finding.alignmentRas.numFindings}}"><a target="_blank" href="#project/alignment/{{finding.alignmentRas.clade.alignmentName}}">{{finding.alignmentRas.clade.displayName.replace("HCV ", "")}}</td>
					<td ng-if="finding.alignmentRas != null" rowspan="{{finding.alignmentRas.numFindings}}">{{finding.alignmentRas.displayStructure}}</td>
					<td ng-if="finding.alignmentRasDrug != null" rowspan="{{finding.alignmentRasDrug.numFindings}}"><a target="_blank" href="#project/drug/{{finding.alignmentRasDrug.drug}}">{{finding.alignmentRasDrug.drug}}</a></td>
					<td ng-if="finding.alignmentRasDrug != null" rowspan="{{finding.alignmentRasDrug.numFindings}}">{{finding.alignmentRasDrug.displayResistanceCategory}}</td>
					<td>{{renderInVitroLevel(finding.inVitroResult)}}</td>
					<td ng-if="finding.inVivoResult.clinicalTrial"><span ng-repeat="trial in finding.inVivoResult.clinicalTrial track by $index"><span ng-if="$index > 0">;</span>
						<a target="_blank" href="https://clinicaltrials.gov/ct2/show/{{trial.nctId}}">{{trial.displayName}}</a></span></td>
					<td ng-if="finding.inVivoResult.cohortDescription">{{finding.inVivoResult.cohortDescription}}</td>
					<td ng-if="finding.inVivoResult"><span ng-repeat="regimen in finding.inVivoResult.regimen track by $index"><span ng-if="$index > 0">; </span>
					{{regimen.displayName}}</span></td>
					<td ng-if="finding.inVivoResult">{{finding.inVivoResult.foundAtBaseline ? "Yes" : "No"}}</td>
					<td ng-if="finding.inVivoResult">{{finding.inVivoResult.treatmentEmergent ? "Yes" : "No"}}</td>
					<td ng-if="finding.inVivoResult == null">-</td>
					<td ng-if="finding.inVivoResult == null">-</td>
					<td ng-if="finding.inVivoResult == null">-</td>
					<td ng-if="finding.inVivoResult == null">-</td>
					<td><a target="_blank" href="{{finding.publication.url}}">{{finding.publication.displayName}} [{{finding.publication.index}}]</a></td>
				</tr>
			</table>
		</p>
		<small> 
		* Drug resistance findings are assigned to one of
			three categories according to the strength of evidence for drug
			resistance. Category I findings have the strongest evidence: either
			(a) <em>in vitro</em> resistance level &ge; 5 and found at baseline
			or treatment-emergent <em>in vivo</em>, or (b) both found at baseline
			and treatment-emergent. Category II: <em>in vitro</em> level &ge; 50
			or found at baseline or treatment-emergent. Category III: <em>in
				vitro</em> level &ge; 5
		</small>
	</div>
	<h3>References</h3>
	<div ng-repeat="publication in rap.reference">
	<p>
	<small>[{{publication.index}}] <b>{{publication.title}}</b>
	<br/>
	{{publication.authors_full}}, {{publication.journal}}<span ng-if="publication.volume != null && publication.issue != null"> {{publication.volume}} ({{publication.issue}}),</span><span ng-if="publication.pages != null"> {{publication.pages}}</span> ({{publication.year}})</small>
	<br/>
	<small><a target="_blank" href="{{publication.url}}">{{publication.url}}</a></small>
	</p>
	</div>
	</div>
	
	<div ng-if="displaySection == 'cladeFrequencies'">
		<p><small>Frequencies of the polymorphism amongst sequences within different genotypes and subtypes</small></p>
		<span ng-show="rasNoteList.length == 0">No significant data</span>
		<div ng-show="rasNoteList.length > 0">
			<paging-buttons paging-context="freqNotePagingContext"></paging-buttons>
			Clades {{freqNotePagingContext.firstItemIndex}} to {{freqNotePagingContext.lastItemIndex}} of {{freqNotePagingContext.totalItems}}
			<table class="table table-striped table-bordered table-nonfluid">
				<thead>
					<th>Genotype / Subtype</th>
					<th>Polymorphism frequency</th>
				</thead>
				<colgroup>
			       <col span="1" style="width: 50%;">
			       <col span="1" style="width: 50%;">
			    </colgroup>
				<tbody>
					<tr ng-repeat="rasNote in rasNoteList track by $index">
						<td><a target="_blank" href="#project/alignment/{{rasNote.phdrRasFrequency.frequencyClade.alignmentName}}">{{rasNote.phdrRasFrequency.frequencyClade.alignmentDisplayName}}</a></span></td>
						<td>{{rasNote.phdrRasFrequency.ncbiCuratedTotalPresent}} of {{rasNote.phdrRasFrequency.ncbiCuratedTotalPresent + rasNote.phdrRasFrequency.ncbiCuratedTotalAbsent}} ({{toFixed(rasNote.phdrRasFrequency.ncbiCuratedFrequency, 2)}}%)</td>
					</tr>
				</tbody>
			</table>
			<paging-buttons paging-context="freqNotePagingContext"></paging-buttons>
		</div>
	
	</div>
</div>