<div ng-cloak ng-app="hcvApp">
	<h2>{{rav.renderedName}}</h2>
	<p>
	Gene: {{rav.feature}}
	<br/>
	Resistant substitution(s): {{handleNull(rav.substitutions)}}
	</p>
	<h4>Drug resistance</h4>
	<div ng-show="!rav.drugResistanceFinding">
		<p>No resistance findings have been collated</p>
	</div>
	<div ng-show="rav.drugResistanceFinding.length > 0">
		<p>For this substitution, the following drug resistance findings have been collated from the literature.</p>
		<p>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th rowspan=2 style="width: 25%;">Drug</th>		
						<th rowspan=2 style="width: 25%;">Replicon clade</th>		
						<th colspan=2 style="width: 25%;">EC<sub>50</sub> Fold Change</th>		
						<th rowspan=2 style="width: 25%;">Reference</th>
					</tr>
					<tr>
						<th>Min</th>		
						<th>Max</th>
					</tr>
				</thead>
				<tr ng-repeat="finding in rav.drugResistanceFinding track by $index">
					<td><a href="#project/drug/{{finding.drug}}">{{finding.drug}}</a></td>
					<td><a href="#project/alignment/{{finding.cladeId}}">{{finding.cladeRenderedName}}</td>
					<td>{{finding.minFoldChange ? toFixed(finding.minFoldChange) : handleNull(finding.minFoldChange)}}</td>
					<td>{{finding.maxFoldChange ? toFixed(finding.maxFoldChange) : handleNull(finding.maxFoldChange)}}</td>
					<td><a href="#project/drug_resistance_publication/{{finding.publication.id}}">
					{{finding.publication.displayName}}</a></td>
				</tr>
			</table>
		</p>
	</div>

	<h4>Frequency across HCV genotypes and subtypes</h4>
	<div ng-show="!rav.alignmentNote">
		<p>Not present at significant numbers</p>
	</div>
	<div ng-show="rav.alignmentNote.length > 0">
	<p>The table below summarises the occurence of {{rav.renderedName}} in various HCV clades 
	   (genotypes and subtypes). The figures are based the set of NCBI sequences which the HCV genotyping algorithm assigned to each clade. Clades are omitted if fewer than 
	   30 clade members were available, or if fewer than 1% of clade members contained the substitution.</p>		
		<p>
			<table class="table table-striped table-bordered">
				<thead>
					<th>Clade</th>
					<th>Frequency</th>
				</thead>
				<tr ng-repeat="cladeFreq in rav.alignmentNote track by $index">
					<td><a href="#project/alignment/{{cladeFreq.alignmentName}}">{{cladeFreq.alignmentRenderedName}}</a></td>
					<td>{{cladeFreq.ncbiCuratedTotalPresent}} of {{cladeFreq.ncbiCuratedTotalPresent + cladeFreq.ncbiCuratedTotalAbsent}} ({{toFixed(cladeFreq.ncbiCuratedFrequencyPct, 2)}}%)</td>
				</tr>
			</table>
		</p>
	</div>

	


</div>