<h2>{{howToCiteTitle}}</h2>
<p>
There is a journal article on the GLUE software system; it also presents an earlier version of HCV-GLUE:
</p>
<p>
<b>GLUE: A flexible software system for virus sequence data</b><br/>
Joshua B Singer, Emma C Thomson, John McLauchlan, Joseph Hughes and Robert J Gifford<br/>
<i>BMC Bioinformatics</i> 2018 <b>19</b>:532<br/>
<a target= "_blank" href="https://doi.org/10.1186/s12859-018-2459-9">https://doi.org/10.1186/s12859-018-2459-9</a>
</p>

<p>
In addition there is an article focusing on the <a href="http://tools.glue.cvr.ac.uk/#/deepSequencingData">GLUE features</a> for analysing HCV deep sequencing data:
</p>
<p>
<b>Interpreting Viral Deep Sequencing Data with GLUE</b><br/>
Joshua B Singer, Emma C Thomson, Joseph Hughes, Elihu Aranday-Cortes, John McLauchlan, Ana da Silva Filipe, Lily Tong, Carmen F Manso, Robert J Gifford, David L Robertson, Eleanor Barnes, M. Azim Ansari, Jean L Mbisa, David F Bibby, Daniel Bradshaw and David Smith<br/>
<i>Viruses</i> 2019 <b>11</b>(4), 323<br/>
<a target= "_blank" href="https://doi.org/10.3390/v11040323">https://doi.org/10.3390/v11040323</a>
</p>

<p>
A more up-to-date article on the HCV-GLUE resource is in preparation.
</p>