<h2>{{howToCiteTitle}}</h2>
<p>
There is a journal article on GLUE and HCV-GLUE, which is currently 
<a target="_blank" href="https://doi.org/10.1101/269274">available as a preprint</a>. 
</p>
<p>
Please use the following citation:
</p>
<b>GLUE: A flexible software system for virus sequence data</b><br/>
Joshua B Singer, Emma C Thomson, John McLauchlan, Joseph Hughes, Robert J Gifford<br/>
bioRxiv 269274; doi: 
<a target= "_blank" href="https://doi.org/10.1101/269274">https://doi.org/10.1101/269274</a>