<h2>{{howToCiteTitle}}</h2>
<p>
There is a journal article on the GLUE software system; it also presents an earlier version of HCV-GLUE:
</p>
<p>
<b>GLUE: A flexible software system for virus sequence data</b><br/>
Joshua B Singer, Emma C Thomson, John McLauchlan, Joseph Hughes, Robert J Gifford<br/>
<i>BMC Bioinformatics</i> 2018 <b>19</b>:532<br/>
<a target= "_blank" href="https://doi.org/10.1186/s12859-018-2459-9">https://doi.org/10.1186/s12859-018-2459-9</a>
</p>
<p>
A more up-to-date article on HCV-GLUE is in preparation.
</p>