<div ng-controller="inVitroRAVsCtrl">
	<div ng-include src="'views/resistanceInterpretation.html'"></div>

	<div ng-show="multiRenderResult.resultDocument.length > 0">
		<p>The following resistance-associated substitutions, according to in vitro evidence, were found:</p>
		<table class="table table-bordered table-striped" width="100%">
			<thead>
				<col width="12%"></col>
				<col width="88%"></col>
				<tr>
					<th>Substitution</th>
					<th>In vitro evidence</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rav in ravList">
					<td>
						<a ng-click="displayVariation(selectedVariationCategoryResult.name, rav.refName, rav.featureName, rav.variationName, [])">{{rav.renderedName}} <i class="glyphicon glyphicon-link"></i></a>
					</td>
					<td>
						<table class="table table-bordered" width="100%">
							<tr>
								<th rowspan=2 style="width: 20%;">Resisted drug</th>		
								<th rowspan=2 style="width: 20%;">Replicon clade</th>		
								<th colspan=2 style="width: 20%;">EC<sub>50</sub> Fold Change</th>		
								<th rowspan=2 style="width: 40%;">Reference</th>		
							</tr>
							<tr>
								<th>Min</th>		
								<th>Max</th>
							</tr>
							<tbody>
								<tr ng-repeat="finding in rav.findings">
									<td><a target="_blank" href="#project/drug/{{finding.drug}}">{{finding.drug}} <i class="glyphicon glyphicon-link"></i></a></td>
									<td><a target="_blank" href="#project/alignment/{{finding.repliconCladeName}}">{{finding.repliconCladeRenderedName}} <i class="glyphicon glyphicon-link"></i></a></td>
									<td>{{handleNull(finding.minFoldChange)}}</td>
									<td>{{handleNull(finding.maxFoldChange)}}</td>
									<td><a target="_blank" href="#project/drug_resistance_publication/{{finding.publicationID}}">{{finding.publicationDisplayName}} <i class="glyphicon glyphicon-link"></i></a>, {{finding.publication}} {{finding.pubLocation}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="multiRenderResult.resultDocument.length == 0">
		<p>No resistance-associated substitutions found, according to in vitro evidence.</p>
	</div>

</div>