<h2>{{teamTitle}}</h2>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><!-- <img style="border:2px solid #aaaaaa" src="images/DanBradshaw.jpg"/> --></div>
	<div class="col-md-10">
		<h3><a href="https://www.gov.uk/guidance/antiviral-unit-avu-reference-services">Dr Daniel Bradshaw</a></h3>
		<h4>Senior Clinical Fellow, Public Health England</h4>
		Dan Bradshaw is a consultant in the Virus Reference Department,
		National Infection Service, Public Health England. He trained as a
		sexual health physician before undertaking a post-CCT fellowship in
		virology at PHE, where he supported the clinical validation of the HCV
		whole genome sequencing pipeline. His research interests include
		HIV/HCV coinfection.
	</div>
</div>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/RobGifford.jpg"/></div>
	<div class="col-md-10">
		<h3><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/robertgifford/">Dr Rob Gifford</a></h3>
		<h4>Senior Research Fellow at the Centre for Virus Research</h4>
		Dr Gifford leads a group whose research addresses the ecology and evolution of viruses. 
		He has a strong interest in facilitating the use of virus sequence data resources in clinical, research and public health contexts.
		He directs the overall GLUE framework project. 
		
	</div>
</div>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/TamyoMbisa.jpg"/></div>
	<div class="col-md-10">
		<h3><a href="https://www.gov.uk/guidance/antiviral-unit-avu-reference-services">Dr Tamyo Mbisa</a></h3>
		<h4>Head of Antiviral Unit, Public Health England</h4>
		Tamyo Mbisa is Head of the Antiviral Unit within the Virus Reference
		Department at Public Health England. His research interests include
		mechanisms of antiviral resistance, molecular epidemiology, virus-host
		interactions and the development of novel sequencing methods. He also
		co-ordinates the UK HIV Resistance Network of NHS laboratories
		undertaking genotypic antiviral resistance testing.
	</div>
</div>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/JohnMcLauchlan.jpg"/></div>
	<div class="col-md-10"	>
		<h3><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/johnmclauchlan/">Professor John McLauchlan</a></h3>
		<h4>Professor of Viral Hepatitis at the Centre for Virus Research</h4>
		Prof McLauchlan leads a research group investigating viral hepatitis. 
		He is also a co-Chair of <a href="http://www.hcvresearchuk.org/">HCV Research UK</a> and a 
		collaborator in the <a href="http://www.stop-hcv.ox.ac.uk/home">STOP-HCV consortium</a>. 
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/EmmaThomson.jpg"/></div>
	<div class="col-md-10"	>
		<h3><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/emmathomson/">Dr Emma Thomson</a></h3>
		<h4>Clinical Senior Lecturer at the Centre for Virus Research</h4>
		Dr Thomson leads a research group investigating viral Hepatitis and the ecology and evolution of emerging virus infections.
		She holds a <a href="https://wellcome.ac.uk/">Wellcome Trust</a> fellowship relating to T-cell mediated evolution of HCV during acute infection and is also a
		collaborator in the <a href="http://www.stop-hcv.ox.ac.uk/home">STOP-HCV consortium</a>. 
	</div>
</div>




<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/JoshSinger.jpg"/></div>
	<div class="col-md-10"	>
		<h3><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/joshsinger/">Dr Josh Singer</a></h3>
		<h4>Research Software Engineer at the Centre for Virus Research</h4>
		Dr Singer is the lead software engineer for GLUE, the data-centric virus sequence software system which underlies the HCV-GLUE project.
		He also maintains the HCV-GLUE dataset and web application. 
	</div>
</div>


