.resistanceBlock {
	padding: 0px;
}

.resistanceColourCode_susceptible {
	background-color: #56d369;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_weak_resistance {
	background-color: #fcf95a;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_moderate_resistance {
	background-color: #ffb349;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_strong_resistance {
	background-color: #ff0202;
	color:#ffffff;
	font-weight:bold;
}


.genomeVisualisationControls {
	border: 2px solid #cecece;
    border-radius: 10px;
    margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	float: none;
}

.updateVisualisationButton {
	padding-right: 0px;
	display: inline-block;
	vertical-align: bottom;
	float: none;
}

.svgContainer {
	border: 2px solid #cecece;
	padding-top: 10px;
    overflow: hidden;
	margin-top: 15px;
}