.resistanceBlock {
	padding: 0px;
}

.resistanceColourCode_susceptible {
	background-color: #56d369;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_weak_resistance {
	background-color: #fcf95a;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_moderate_resistance {
	background-color: #ffb349;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_strong_resistance {
	background-color: #ff0202;
	color:#ffffff;
	font-weight:bold;
}

