.resistanceBlock {
	padding: 0px;
}

.resistanceColourCode_no_significant_resistance_detected {
	background-color: #56d369;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_possible_resistance_detected {
	background-color: #fcf95a;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_probable_resistance_detected {
	background-color: #ffb349;
	color:#000000;
	font-weight:bold;
}

.resistanceColourCode_resistance_detected {
	background-color: #ff0202;
	color:#ffffff;
	font-weight:bold;
}

.resistanceColourCode_insufficient_coverage_or_research {
	background-color: #666666;
	color:#ffffff;
	font-weight:bold;
}


.genomeVisualisationControls {
	border: 2px solid #cecece;
    border-radius: 10px;
    margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	float: none;
}

.phyloVisualisationControls {
	border: 2px solid #cecece;
    border-radius: 10px;
    margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
	float: none;
}


table.table-bordered{
    border:1px solid #a9a9a9;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #a9a9a9;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #a9a9a9;
}
table.table-bordered > tr > td{
    border:1px solid #a9a9a9;
}

.updateVisualisationButton {
	padding-right: 0px;
	display: inline-block;
	vertical-align: bottom;
	float: none;
}

.featureSvgContainer {
	border: 2px solid #cecece;
	padding-top: 10px;
    overflow: hidden;
	margin-top: 15px;
}

.phyloSvgContainer {
	border: 2px solid #cecece;
	padding-top: 10px;
    overflow: hidden;
	margin-top: 15px;
}


.rzslider .rz-pointer {
    background-color: #008cba;
}


.rzslider .rz-bar {
  background: #cccccc;
}

.rzslider .rz-tick {
  background: #cccccc;
}

.rzslider .rz-pointer.rz-active:after {
    background-color: #008cba;
}

.rzslider .rz-pointer:after {
  background: #ffffff;
}

